body {
    margin: 0;
    padding: 0;
    background-color: #000; /* Fundo preto */
    font-family: 'Orbitron', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

/* Camada com imagem de fundo transparente */
.background-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('https://xatimg.com/image/M4wO5R9x2vqj.png') no-repeat center center;
    background-size: contain;
    width: 80%;
    height: 80%;
   
    z-index: 0;
    pointer-events: none; /* Evita interferência em cliques */
}

/* Container principal sobre a imagem de fundo */
.container {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 40px;
    background: rgba(0, 0, 0, 0.85);
    border: 2px solid #00ffcc;
    box-shadow: 0 0 25px #00ffcc, 0 0 60px #0ff;
    border-radius: 15px;
    max-width: 50%;
}

/* Botão neon */
.botao-download {
    display: inline-block;
    padding: 15px 40px;
    font-size: 20px;
    color: #000;
    
    background: #00ffcc;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 0 10px #00ffcc, 0 0 20px #0ff;
    transition: 0.3s;
}

.botao-download:hover {
    background: #0ff;
    color: #000;
    box-shadow: 0 0 20px #00ffff, 0 0 30px #00ffff, 0 0 40px #00ffff;
    transform: scale(1.05);
}
